<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AI Student Analyzer</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<style>
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    margin-top: 150px;
}

h1 {
    font-size: 50px;
}

p {
    color: #ccc;
}

.btn {
    padding: 14px 30px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    border-radius: 25px;
    text-decoration: none;
    color: white;
}
</style>
</head>

<body>

<div class="container">
    <h1>🎓 AI Student Performance Analyzer</h1>
    <p>Predict student scores using Machine Learning</p>

    <a href="/predictdata" class="btn">🚀 Start Prediction</a>
</div>

</body>
</html>